.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-h-home);
  z-index: 1000;
}

.header-container {
  width: 100%;
}

.header-icon {
  font-size: var(--fs-500);
  line-height: 114%;
  font-weight: 600;
  cursor: pointer;
}

.arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.arrow ion-icon {
  cursor: not-allowed;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 0 1.2rem;
}

.user {
  background-color: var(--black);
  padding: 0.3rem;
  align-items: center;
  color: var(--white);
  gap: 0 0.6rem;
  border-radius: 50vw;
  cursor: pointer;
}

.user.active,
.user:hover {
  background-color: var(--bg-light);
}

.user img {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.user ion-icon {
  transition: all 0.3s ease-in !important;
}

.user.active ion-icon {
  transform: rotate(-180deg);
}
