/* s ===== VARIABLES CSS ===== s */
@import "font.css";

:root {
  /* ==== font family variables ==== */
  --ff-primary: "Proxima Nova";
  --ff-secondary: "Proxima Nova Condensed";

  /* ==== color variables ==== */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-700: hsl(0, 0%, 7%);
  --black-800: hsl(0, 0%, 9%);
  --grey: hsl(0, 0%, 70%);
  --green: hsl(141, 76%, 48%);
  --light: hsl(0, 0%, 90%);

  /* ==== background variables ==== */
  --bg-h-home: hsl(0, 0%, 7%);
  --bg-m-home: hsl(0, 0%, 10%);
  --bg-box-hover: hsl(0, 0%, 15%);
  --bg-user-hover: hsl(0, 0%, 16%);
  --bg-light: hsl(0, 0%, 16%);
  --bg-music-box: hsl(0, 0%, 9%);

  /* ==== font size variables ==== */
  --fs-100: 1rem;
  --fs-200: 1.2rem;
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 3rem;
  --fs-700: 4rem;
  --fs-800: 5rem;
}

@media (min-width: 40em) {
  :root {
    --fs-100: 1.1rem;
    --fs-200: 1.2rem;
    --fs-300: 1.4rem;
    --fs-400: 1.6rem;
    --fs-500: 1.8rem;
    --fs-600: 3.2rem;
    --fs-700: 4.8rem;
    --fs-800: 9.6rem;
  }
}
/* e ===== VARIABLES CSS ===== e */
